In [107]:
import psycopg2
import osgeo.ogr
import shapely
import geopandas as gpd

In [148]:
connection = psycopg2.connect(database="geotech_ocean_haz", user="postgres", password = "postgres")
cursor = connection.cursor()

In [149]:
#select shark attacks   
cursor.execute(
'''SELECT "Date", full_location, st_x(geometry) as lon, st_y(geometry) as lat
FROM shark_attacks as s
WHERE st_intersects(s.geometry, 
					 st_transform(
						 st_buffer(
							 st_transform(
								 st_setsrid(
									 st_makepoint(-156.767903, 20.749255),4326),26904),20000),4326))'''
				   )
connection.commit()

In [150]:
rows_list=[]
for Date, full_location, lon, lat in cursor:
    data={'Date':Date, 'Location': full_location, 'lon':lon, 'lat':lat}
    rows_list.append(data)
print(rows_list)
# gdf=gpd.GeoDataFrame(rows_list).set_index('Date')
# gdf.head()

[{'Date': '31/10/2015', 'Location': 'Lanai, Poaiwa Beach', 'lon': -156.902949250911, 'lat': 20.8305441}, {'Date': '27/01/2012', 'Location': 'Lanai, Keomuku', 'lon': -156.902949250911, 'lat': 20.8305441}, {'Date': '24/05/2006', 'Location': 'Lanai, Club Lanai', 'lon': -156.902949250911, 'lat': 20.8305441}]

In [ ]:
shark_geojson={ }
for Date, full_location, geometry in cursor:
    shark_geojson = {
        "type": "Feature",
        "Properties": {
            "DATE":Date,
            "Location":full_location,
            "geometry":geometry
        }
    }

In [135]:
# gdf.to_json
# gdf.set_geometry(col='geometry', inplace=True)
gdf.to_file('sharkattacks.geojson', driver = 'GeoJSON')

<bound method GeoDataFrame.to_json of                  Location                                           geometry
Date
Date  Lanai, Poaiwa Beach  {"type":"Point","coordinates":[-156.902949251,...
Date       Lanai, Keomuku  {"type":"Point","coordinates":[-156.902949251,...
Date    Lanai, Club Lanai  {"type":"Point","coordinates":[-156.902949251,...>

In [89]:
#select bottom type
cursor.execute(
'''SELECT b.objectid, b.seabed, b.geometry 
FROM bottom_type as b
WHERE st_intersects(b.geometry, 
					 st_transform(
						 st_buffer(
							 st_transform(
								 st_setsrid(
									 st_makepoint(-156.076333, 20.815275),4326),26904),10000),4326)
				   )'''
)
connection.commit()

In [90]:
bottom_list=[]
for objectid, seabed, geometry in cursor:
    data={'OBJECTID':objectid,'SEABED':seabed,'geometry':geometry}
    bottom_list.append(data)

In [92]:
#print(bottom_list)
gdf=gpd.GeoDataFrame(bottom_list).set_index('OBJECTID')
gdf.head()

         SEABED                                           geometry
OBJECTID
4173        Mud  0101000020E6100000705083AD698163C0A728A43C1AD7...
4174        Mud  0101000020E61000008E69AB94358063C03F28FA2042D2...

In [4]:
import geopandas as gpd 

data_coral_reefs = gpd.read_postgis("postgresql://postgres:postgres@localhost:5432/geotech_ocean_haz/coral_reefs")
data_dict = data_coral_reefs.to_dict()

TypeError: _read_postgis() missing 1 required positional argument: 'con'