Testing psycopg2

In [2]:
import psycopg2
import osgeo.ogr
import shapely
import shapely.wkt
import geopandas as gpd

In [3]:
connection = psycopg2.connect(database="geotech_ocean_haz",user="postgres", password="postgres")

#set up a cursor object which is used to issue commands.
cursor = connection.cursor()

In [14]:
cursor.execute(
    "SELECT objectid, seabed, geometry FROM bottom_type"
    )

    f'''SELECT * 
    FROM shark_attacks as s
    WHERE st_intersects(s.geometry, 
	st_buffer(st_setsrid(st_makepoint({x}, {y}),4326),0.2))'''

    'st_transform(geom, 6576)'

In [15]:
rows_list=[]
for objectid, seabed, geometry in cursor:
    data={'objectid': objectid, 'SEABED':seabed, 'geometry':geometry}
    rows_list.append(data)
gdf=gpd.GeoDataFrame(rows_list,crs='epsg:4326')
gdf.head()

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_12244\2398447621.py:5: FutureWarning: Assigning CRS to a GeoDataFrame without a geometry column is now deprecated and will not be supported in the future.
  gdf=gpd.GeoDataFrame(rows_list,crs='epsg:4326')

   objectid      SEABED                                           geometry
0         1        Sand  0101000020E6100000AEDCB3D693F663C0D9174C0ED1ED...
1         2       Coral  0101000020E61000004D9FE324BDF663C0E9F24FF6DFEF...
2         3      Gravel  0101000020E61000007CC77D22A8F663C07E0CDA25CEEF...
3         4       Coral  0101000020E610000028B66FE17DF663C01B1F64829AEF...
4         5  Mud Shells  0101000020E6100000181B9F6C6BF663C08DF60E0CB2F0...